.navigation_bar{
  position:absolute;
   top: 0;
   left: 0;
  /* margin-left: 0; */
  background-color : #6cc1e0;
}
.list_nav{
  /* top: 0; */
  list-style: none;
  display: inline-flex;
  /* background-color: #6cc1e0; */
}
.list_nav li{
  margin-left: 20px;
  margin-right: 20px;
  font-family:  'Baloo Chettan 2', cursive;
  font-size: 20px;
}
/* .pro_class a{
  text-decoration: none;
  color: black;
} */
.pro_class:hover .dropdown_c{
  display: block;
}
.pro_class button{
  border: none;
  background: none;
  font-family:  'Baloo Chettan 2', cursive;
  font-size: 20px;
  cursor: pointer;
}
.pro_class {
  position: relative;
  display: inline-block;
}

.dropdown_c {
  display: none;
  position: absolute;
  background-color:#6cc1e0 ;
  min-width: 160px;
  /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
  z-index: 1;
}
.dropdown_c a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown_c a:hover {background-color: #f1f1f1}
